/* #343434 Grey
#1A1A1A Dark Grey
#278442 Green
#1F2334 Blue
#29595c Lighter blue
#FAD800 Gold
#AC44F2 Purple */

/*Overriding webkit*/
*:focus-visible {
    outline-offset: 0px;
    outline: 0px;
}
body {
    color: #FFFFFF;
    background-color: #343434;
    background-image: url('../assets/background2.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 0;
    background-attachment: fixed;
}
.header {
    color: #FFFFFF;
    font-size: 1.8em;
    font-family: 'Arial Narrow Bold';
    font-weight: 600;
    display: flex;
    border-bottom: 1px solid #7c7c7c; 
}
a {
    color: #278442;
}
a:hover {
    color: #FFFFFF;
}
.navigation {
    display: flex;
    justify-content: center;
    background-color: #1F2334;
    font-family: 'Arial Narrow Bold';
    font-weight: 600;
}
.hamburger-left {
    margin-right: auto;
}
.hamburger {
    color: #278442;
}
.navigation-items {
    font-size: 1.5em;
    color: #FFFFFF;
    margin-left: 1vw;
    margin-right: 1vw;
    min-width: 120px;
}
.navigation-items:hover {
    color: #278442;
    background-color: #1F2334;
}

.greeting {
    color: #278442;
    font-size: 5vw;
}
@media screen and (min-width: 993px) {
    .greeting {
      display: none;
    }
  }
.greeting-large {
    display: flex;
    width: 100%;
    justify-content: center;
}
@media screen and (max-width: 993px) {
    .greeting-large {
      display: none;
    }
  }
.lvl1 {
    display: flex;
    justify-content: center;
}
.lvl2 {
    flex-flow: column;
    width: 1000px;
    display: flex;
    background: rgba(26, 26, 26, .95);
}
.lvl3 {
    display: flex;
    flex-flow: column;
}
.lvl4 {
    display: flex;
    flex-flow: row;
    padding: 10px;
}
.alert {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-weight: 600;
    font-size: 1.8em;
    background-color: #29595c;
}
.main {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: 10px 0px 0px 5px;    
}
.sidebar {
    display: flex;
    width: 30%;
    margin: 10px 5px 0px 0px;    
    flex-direction: column;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .supermain {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .sidebar {
        width: 90%;
        margin-bottom: 0px;
    }
    .main {
        width: 90%;
    }
}
@media screen and (max-width: 480px) {
    .hideSidebar {
      display: none;
    }
}
.content {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
.video-embeds {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.footer {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-weight: 600;
    font-size: 1.8em;
    background-color: #29595c;
}
.sets {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.setsType {
    display: flex;
    width: 30%;
}
.setsTraits {
    display: flex;
    width: 70%;
}
